<html>
    
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TweetNews</title>
    <link href="../public/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/stylesheets/index.css" rel="stylesheet">
  </head>
    <body>
    
        <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li>Setting</li>
  <li class="active">Edit your profile</li>
</ol>
        
        
        
        <script src="../public/dist/js/jquery-1.11.2.min.js"></script>
    <script src="../public/dist/js/bootstrap.min.js"></script>
    </body>

</html>