<div class="row">
    <div class="col-sm-6">
<!--        crawler-->
    </div>
    <div class="col-sm-6">
<!--        paste twitter api code here-->
        
        <a class="twitter-timeline" href="https://twitter.com/zeibabaig/lists/education" data-widget-id="559214274262732800">Tweets from https://twitter.com/zeibabaig/lists/education</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        
        <!--twitter code for job -->
        
        <a class="twitter-timeline" href="https://twitter.com/zeibabaig/lists/jobs" data-widget-id="559069667117916160">Tweets from https://twitter.com/zeibabaig/lists/jobs</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        
        
        
        
        
    </div>

</div>