<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TweetNews</title>
    <link href="../public/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/stylesheets/extra.css" rel="stylesheet">
  </head>
  <body>
      
      
      
      
<!--      Navigation bar starts-->
      <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#" style="padding-top:0px;">
                      <img src="../public/images/logo.png">
                  </a>
              
              </div>
          </div>
              </nav>
              <div class="jumbotron center">
        <h1>Thanks for signing up!!!</h1><br>
        <p class="lead">You are just two steps away from exploring your world of news with us!!! To continue exploring signin with your new credentials!!! </p><br>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign in</a></p>
      </div>
              
              <script src="../public/dist/js/jquery-1.11.2.min.js"></script>
    <script src="../public/dist/js/bootstrap.min.js"></script>
  </body>
</html>