<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TweetNews</title>
    <link href="../public/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/stylesheets/home.css" rel="stylesheet">
  </head>
    <body>
    
    <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#" style="padding-top:0px;">
                      <img src="../public/images/logo.png">
                  </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <div class="dropdown" style="margin-top: 10px;">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Settings
                              <span class="caret"></span>
                          </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit your profile</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li><hr>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sign out</a></li>
  </ul>
</div>
                  </ul>
              </div>
          </div>
      </nav>
        
        
        
        
        
        
        

        <div class="row">
            <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Read now</a></li>
              <li role="presentation"><a href="#">News from tweets</a></li>
              <li role="presentation"><a href="#">News from around the web</a></li>
                
            </ul>
            </div>
            
            
            <div class="col-md-10">
            
            <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Highlights</a></li>
  <li role="presentation"><a href="#">Breaking</a></li>
  <li role="presentation"><a href="#">Local</a></li>
  <li role="presentation"><a href="#">Business</a></li>
  <li role="presentation"><a href="#">Entertainment</a></li>
  <li role="presentation"><a href="#">Technology</a></li>
  <li role="presentation"><a href="#">National</a></li>
  <li role="presentation"><a href="#">World</a></li>
  <li role="presentation"><a href="#">Sports</a></li>
                
</ul>
            
            </div> 
            
            
        </div>

        
    
    
    
    <script src="../public/dist/js/jquery-1.11.2.min.js"></script>
    <script src="../public/dist/js/bootstrap.min.js"></script>
    </body>
</html>