


<!--
<nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="padding-top:0px;"><img src="./images/logo.png"
                                                                                   </a>
                        </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <div class="dropdown" style="margin-top: 10px;">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Settings
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit your profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"></a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li><hr>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sign out</a></li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
                </nav>
-->
        
        
        
        
        
        
        

        <div class="row" style="padding:100px; ">
            <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="/headlines" target="myframe">Headlines</a></li>
              <li role="presentation"><a href="/local" target="myframe">Local</a></li>
              <li role="presentation"><a href="/business" target="myframe">Business</a></li>
              <li role="presentation"><a href="/entertainment" target="myframe">Entertainment</a></li>
              <li role="presentation"><a href="/education" target="myframe">Education and jobs</a></li>
              <li role="presentation"><a href="/technology" target="myframe">Technology</a></li>
              <li role="presentation"><a href="/national" target="myframe">National</a></li>
              <li role="presentation"><a href="/world" target="myframe">World</a></li>
              <li role="presentation"><a href="/sports" target="myframe">Sports</a></li>
                `</ul>
            </div>
          <div class="col-md-10">
              <iframe height=100% width=100% name="myframe">
					</iframe>
         </div>       
        </div>

        
    
    
      
    <script src="./dist/js/jquery-1.11.2.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
<!--
    </body>
</html>-->
