<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./stylesheets/index.css" rel="stylesheet">
  </head>
  <body>
      <!--      Navigation bar starts-->
      <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#" style="padding-top:0px;">
                      <img src="./images/logo.png">
                  </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      
                  </ul>
              </div>
          </div>
      </nav>
<!--      Navigation bar ends-->
      {{{body}}}
    </body>
</html>