body,html {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E6E6E6;
}


.navbar
{
    background-color: black;
    box-shadow: 0px 0px 10px black;
}


.center
{
    text-align: center;
    color: grey;
    text-decoration:none;
	font-family:'Montserrat', 'Trebuchet MS', 'sans-serif';
/*	font-weight :bold;*/
    font-size: 17px;
        padding:15px;
}
.row {
margin-right: -105px;
margin-left: -10px;
}
