#home
{
background:url(steel.jpg) no-repeat fixed;
height:100%;
    width:100%;
    
<!---webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;-->
}


.jumbotron
{

background:transparent;

}

body {
    padding-top :50px;
    
    text-align: center;
    
    
}

h1
{
  color:white;
font-family:'Montserrat','trebuchet MS',sans-serif;
    font-style: italic
font-style: oblique

font-style: inherit
font-size:100%;
  
    
}

.form-control
{
  height:34px ;
    width:25%;
    text-align: center;
    
}


#logo
{
    
 height:50;
    width:200;
}

#label
{
 color:white;   
    
}


#nail
{
  color:white;
font-family:'Montserrat','trebuchet MS',sans-serif;
font-size:100%;
    
    
    
}
#img
{
 background:url(steel.jpg) no-repeat ; 
  height:100%;
    width:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    margin-bottom: 50px;
    
}





<!--.reflectBelow	
{ 
	-webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white)); 
}

.image_reflection {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.5)));
}




#reflect
{
   height:500%;
    width:50%; 
    
}-->